Chromaflow/

*.tmp
*.bak
*.swp
*.cache
.vscode/
.idea/
*.code-workspace

*.log
logs/
debug/

aftman.toml
.lune/
lune/
builder_tools/
node_modules/
vendor/

*.min.lua
*.min.luau
*.bundle.lua
*.bundle.luau

*.local
*.DS_Store

*.rblx
*.rbxm
*.rbxmx
*.project.json
dist/